In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [6]:

# Load the dataset
df = pd.read_csv('SCMS Dataset.csv')
df.head()

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,11906,114-UG-T01,NaN,SO-17770,DN-998,Uganda,PMO - US,From RDC,NaN,Truck,...,30,5147,56617.00,11.00,0.37,"Aurobindo Unit III, India",No,NaN,NaN,110.97
1,12533,110-ZM-T01,NaN,SO-16670,DN-993,Zambia,PMO - US,From RDC,NaN,Truck,...,60,138,469.20,3.40,0.06,Hetero Unit III Hyderabad IN,No,NaN,NaN,0.92
2,12544,114-UG-T01,NaN,SO-17700,DN-992,Uganda,PMO - US,From RDC,NaN,Air,...,60,965,6948.00,7.20,0.12,"Strides, Bangalore, India.",No,NaN,NaN,13.62
3,11291,114-UG-T01,NaN,SO-17830,DN-990,Uganda,PMO - US,From RDC,NaN,Air,...,60,1144,10696.40,9.35,0.16,"Aurobindo Unit III, India",No,NaN,NaN,20.96
4,11954,104-CI-T01,NaN,SO-11850,DN-988,Cote dIvoire,PMO - US,From RDC,NaN,Air,...,30,30654,359264.88,11.72,0.39,"Aurobindo Unit III, India",No,NaN,NaN,704.16

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            10324 non-null  int64
 1   Project Code                  10324 non-null  object
 2   PQ #                          7643 non-null   object
 3   PO / SO #                     10324 non-null  object
 4   ASN/DN #                      10324 non-null  object
 5   Country                       10324 non-null  object
 6   Managed By                    10324 non-null  object
 7   Fulfill Via                   10324 non-null  object
 8   Vendor INCO Term              4920 non-null   object
 9   Shipment Mode                 9964 non-null   object
 10  PQ First Sent to Client Date  7643 non-null   object
 11  PO Sent to Vendor Date        4592 non-null   object
 12  Scheduled Delivery Date       10324 non-null  object
 13  Delivered to Client Date      10324 non-null  object
 14  Delivery Recorded Date        10324 non-null  object
 15  Product Group                 10324 non-null  object
 16  Sub Classification            10324 non-null  object
 17  Vendor                        10324 non-null  object
 18  Item Description              10324 non-null  object
 19  Molecule/Test Type            10324 non-null  object
 20  Brand                         10324 non-null  object
 21  Dosage                        8588 non-null   object
 22  Dosage Form                   10324 non-null  object
 23  Unit of Measure (Per Pack)    10324 non-null  int64
 24  Line Item Quantity            10324 non-null  int64
 25  Line Item Value               10324 non-null  float64
 26  Pack Price                    10324 non-null  float64
 27  Unit Price                    10324 non-null  float64
 28  Manufacturing Site            10324 non-null  object
 29  First Line Designation        10324 non-null  object
 30  Weight (Kilograms)            6372 non-null   float64
 31  Freight Cost (USD)            6198 non-null   float64
 32  Line Item Insurance (USD)     10037 non-null  float64
dtypes: float64(6), int64(3), object(24)
memory usage: 2.6+ MB